# Subgraph manifest
#   schema: https://github.com/graphprotocol/graph-node/blob/master/docs/subgraph-manifest.md

specVersion: 0.0.2
description: '{{ description }}'
repository: https://github.com/anxolin/dex-subgraph

schema:
  file: ./schema.graphql

dataSources:
  # BatchExchange contract
  - kind: ethereum/contract
    name: BatchExchange
    network: {{ network }}
    source:
      address: '{{ address }}'
      abi: BatchExchange
{{#startBlock}}
      startBlock: {{ startBlock }}
{{/startBlock}}
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.3
      language: wasm/assemblyscript
      file: ./src/mappings/index.ts
      entities:
        - Order
        - Token
      abis:
        - name: BatchExchange
          file: ./abis/BatchExchange.json
{{#indexCalls}}
      callHandlers:
        # Tokens
        - function: addToken(address)
          handler: onAddToken
{{/indexCalls}}
      eventHandlers:
        # Orders
        - event: OrderPlacement(indexed address,uint16,indexed uint16,indexed uint16,uint32,uint32,uint128,uint128)
          handler: onOrderPlacement      
