specVersion: 0.0.2
description: '{{ description }}'
repository: https://github.com/anxolin/dex-subgraph
schema:
  file: ./schema.graphql
dataSources:
  - kind: ethereum/contract
    name: BatchExchange
    network: {{ network }}
    source:
      address: '{{ address }}'
      abi: BatchExchange
{{#startBlock}}
      startBlock: {{ startBlock }}
{{/startBlock}}
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.3
      language: wasm/assemblyscript
      entities:
        - OrderPlacement
      abis:
        - name: BatchExchange
          file: ./abis/BatchExchange.json
      {{! callHandlers:
        - function: addToken(address)
          handler: onAddToken }}
      eventHandlers:
        - event: OrderPlacement(indexed address,uint16,indexed uint16,indexed uint16,uint32,uint32,uint128,uint128)
          handler: onOrderPlacement
      file: ./src/mappings/index.ts
